<div class=" container bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <p class="text-base font-semibold leading-7 text-indigo-600">The Story</p>
    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Failing Forward</h1> 
    <p class="mt-6 text-xl leading-8">Hi, I'm Dillon. I'm the artist behind the pieces here, and the developer who built this website.</p>
    <div class="mt-10 max-w-2xl">
      <p>The story of this site starts when El Salvador made Bitcoin legal tender. I had just gotten a remote engineering job to be a
       digital nomad for a while. When El Salvador made the announcement, I canceled my airbnb's, changed my flight and moved there to 
       see what was going on. I learned some important things</p>
      <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
        <li class="flex gap-x-3">
          <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900">Bitcoin Is Important For Humanity</strong> There's so many things wrong with out banking system. Things like inflation, digital tracking and the government deciding what you can spen your money on are a few examples.</span>
        </li>
        <li class="flex gap-x-3">
          <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900">Programable Money Is Awesome For Business</strong> Things like automatic profit sharing, dynamic investments, automatic supply purchasing based on triggers are some of the many applications that businesses and entrepreneurs have yet to innovate with. There is so much oportunity in the way of programmable money.</span>
        </li>
        <li class="flex gap-x-3">
          <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
          </svg>
          <span><strong class="font-semibold text-gray-900">It's only digital money.</strong>It's really hard buy things in the real world with it. 
          Many of the vendors in El Salvador complained about this. If they accepted Bitcoin, they would need to sell it for cash at an ATM for a 5% fee, and that's assuming it doesn't go down. 
          A 5% fee in a 3rd world country is a lot.</span>
        </li>
      </ul>
      <p class="mt-8">So these are some interesting things. And I'm not just curious, I like to build and invent things</p>
      <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">So I decided to sell coffee</h2>
      <p class="mt-6">While I was pretending to work at my remote job, I was hustling in the coffee business. Mostly as a proof of concept. Trying to see what the business model would look like for a crypto for CPG company would look like. </p>
      <figure class="mt-10 border-l border-indigo-600 pl-9">
        <blockquote class="font-semibold text-gray-900">
          <p>Because how will crypto make us free when you have to stay glued to a screen?</p>
        </blockquote>
      </figure>
      <p class="mt-10">The real world is where it matters. But, the time I chose to do this was the worst time possible. Shipping rates were insane, thanks to covid. Recurring payments were impossible, and I lost my job. </P>
      <p class="mt-10">My manager got wise to what I was doing, and my performance was slacking. I was fired. I ran out of money and couldn't pay for any business expense. I moved to Austin Tx to persue this coffee business. But lost my 
      income around 5 months after I moved there.
    
      </p>
    </div>
    

 <%
=begin%>
 <figure class="mt-16">
      <img class="aspect-video rounded-xl bg-gray-50 object-cover" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&auto=format&fit=facearea&w=1310&h=873&q=80&facepad=3" alt="">
      <figcaption class="mt-4 flex gap-x-2 text-sm leading-6 text-gray-500">
        <svg class="mt-0.5 h-5 w-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
        </svg>
        Faucibus commodo massa rhoncus, volutpat.
      </figcaption>
    </figure>  
<%
=end%>

    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">The last 2 years have been a struggle.</h2>
      <p class="mt-6">Not really caring about any company I got a job at, I havent lasted long ant any of them. For the last 2 years I held 3 jobs. One for 7 months. 
      Another for 6, and the last one was a contract that only lasted a month. Not from bad performance, but from taking too long to do things.</p>
      <p class="mt-8">It's been a real challenge, putting in hours toward someone else's "get rich" plan when all you want to do is work on something that feels 
      important for the future of humanity.</p>
      <p class="mt-8">When your motivations lie in making sure your great grand children, who you'll never meet, live in a world that is good. 
      Everything else is difficult to work on.</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">You're probably thinking I'm irresponsible</h2>
      <p class="mt-6">Its taken being responsible to work for people. But my girlfriend actually convinced me that I need to stop hiding my talents from the world. I promised her that I would. So here I am. Comitted to keeping my promise and making something that might be useful to humanity.</p>
       <figure class="mt-10 border-l border-indigo-600 pl-9">
        <blockquote class="font-semibold text-gray-900">
          <p> So no more time and energy is wasted helping someone else fulfill their dreams.</p>
        </blockquote>
      </figure>
      
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">So I decided to say "Fuck It."</h2>
      <p class="mt-6">I'm an artist. The energy that I've spent working the 9 to 5 has been a soul suicide. I've been sitting on this art ever 
      since I lived in El Salvador. I barley knew the language and didn't know anyone when I moved there so I spent my alone time at night making 
      these pieces. Each one has it's own story you can see in their descriptions.</p>
      <p class="mt-6">This is my full time job now</p>
      <p class="mt-6">Selling art.</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">And I still want to help humanity.</h2>
      <p class="mt-6">So that's why I'm selling these NFT's. You're not buying the NFT, your buying the physical art. the NFT just gives you some unique features. <%= link_to "How it works", how_it_works_path, class: "font-semibold text-indigo-600 hover:text-indigo-500" %> </p>
      <p class="mt-6">This seems like a good way to bring crypto into the physical world. There are a lot of things possible but I'm starting off small. As a humble artist and a failed developer. Maybe this can be useful to the world</p>
    </div>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">This won't be just for me.</h2>
      <p class="mt-6">Right now I'm the only one selling art here. I'm doing that on purpose. This is a new realm for everyone. There are many unknowns.</p>
      <p class="mt-6">Once I've sold enough of this collection, and tested the protocol in the real world, this website will be open for anyone to add their art. This will help artists and buyers of fine art, and ensure quality NFT's are made. Not randomly generated JPEGS. </p>
      <p class="mt-6"><%= link_to "See The Roadmap", timeline_path, class: "font-semibold text-indigo-600 hover:text-indigo-500" %>  </p>
    </div>
    <figure class="mt-10 border-l border-indigo-600 pl-9">
        <blockquote class="font-semibold text-gray-900">
          <p> This might make me bankrupt. But feels worth it.</p>
        </blockquote>
      </figure>
  </div>
</div>
